@model IEnumerable<TruyenKhanh.Models.Truyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header>
        <div class="slideshow">
            <div class="slider">
                <div class="slider-imgs">
                    <input type="radio" name="inputslider" id="img1" class="nut" />
                    <input type="radio" name="inputslider" id="img2" class="nut" />
                    <input type="radio" name="inputslider" id="img3" class="nut" />

                    <img src="~/Content/images/Banner1.jpg" alt="img1" class="imgslider1" />
                    <img src="~/Content/images/Banner2.jpg" alt="img2" class="imgslider2" />
                    <img src="~/Content/images/banner3.jpg" alt="img3" class="imgslider3" />
                </div>
                <div class="labelslider">
                    <label for="img1"></label>
                    <label for="img2"></label>
                    <label for="img3"></label>
                </div>
            </div>
            <style src="Style.css">
                * {
                    box-sizing: border-box;
                    margin: 0px;
                    padding: 0px;
                }

                .slider {
                    width: 100%;
                    margin: 0 auto;
                    overflow: hidden;
                    padding-top: 0px;
                }

                .slider-imgs {
                    display: flex;
                }

                    .slider-imgs img {
                        width: 100%;
                    }

                    .slider-imgs input {
                        display: none;
                    }

                .labelslider {
                    display: flex;
                    justify-content: center;
                }

                    .labelslider label {
                        background-image: linear-gradient(135deg, #008aff, #86d472);
                        border-radius: 10px;
                        border: 1px solid blue;
                        color: #ffffff;
                        display: block;
                        height: 15px;
                        width: 70px;
                        padding: 10px;
                        position: relative;
                        text-decoration: none;
                        width: 70px;
                        z-index: 2;
                        margin: -25px 15px;
                    }

                        .labelslider label:hover {
                            background: #00ff90;
                        }

                #img1:checked ~ .imgslider1 {
                    margin-left: -100%
                }

                #img2:checked ~ .imgslider2 {
                    margin-left: -200%
                }

                #img3:checked ~ .imgslider3 {
                    margin-left: -300%
                }
            </style>

            <p>
                @Html.ActionLink("Thêm truyện", "Themsp")
            </p>
            <table class="table">
                <tr>

                    <th> Tên Truyện</th>
                    <th> Mô Tả</th>
                    <th></th>
                    <th> Hình Ảnh</th>
                    <th> Nội dung</th>
                    <th> Ngày Xuất bản</th>
                    <th> Số Chương</th>
                    <th> Mã tác giả</th>
                    <th> Mã thể loại</th>
                    <th> Mã yêu thích</th>
                    <th>Tùy Chọn</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenTruyen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mota)
                        </td>
                        <td>
                        <td>
                            <img src="@item.Hinh" width="150" height="200" alt="" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoiDung)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayXB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoChuong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaTG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaTL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaYT)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Suasp", new { id = item.MaTruyen })
                            @Html.ActionLink("Xóa ", "Xoasp", new { id = item.MaTruyen })
                        </td>
                    </tr>
                }

            </table>
            </div>
        </header>
</body>